[Desktop Entry]
Type=Application

Name=Horizon
Comment=Private AI Chat for Ollama
Categories=Utility;Development;Chat;
Keywords=ai;chat;private;ollama;llm

Icon=com.miles.horizon
Exec=horizon
Terminal=false
StartupNotify=true